.modal {
  position: relative;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 20px 0;
}

.closeBtn {
  position: absolute;
  top: -40px;
  right: -20px;
  border: 0;
  outline: 0;
  background: transparent;
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.closeBtn svg {
  height: 100%;
  width: 100%;
}

.label {
  margin-bottom: 5px;
}

.countryOptions {
  width: 100%;
}

.setCountryBtn {
  margin-top: 1.5rem;
  padding: 10px 20px;
}
