@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800&display=swap");

:root {
  /* --color-primary: #599ffe; */
  --color-secondary-dark: #15171a;
  --color-primary-dark: #ff2753;
}

html,
body,
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
}

html {
  background-color: #f5f3f4;
}

a {
  text-decoration: none;
  color: #000;
}

.main {
  margin: 2rem 4rem;
}

.loader-wrapper {
  position: absolute;
  top: 45%;
  left: 50%;
  height: 50%;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #6f6e6e;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.btn {
  border: 0;
  outline: 0;
  font-size: 18px;
  border-radius: 4px;
}

.btn:hover {
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.2);
}

.btn-primary {
  cursor: pointer;
  background-color: var(--color-primary-dark);
  color: #fff;
}

.btn-primary:focus {
  border: none;
}

.btn-secondary {
  cursor: pointer;
  background-color: transparent;
  color: #000;
  border: 2px solid var(--color-secondary-dark);
}

.btn-secondary:focus {
  border: none;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
