.homepage {
}

.container {
  width: 1500px;
  margin: auto;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overview {
  width: 50%;
  margin-right: 145px;
}

.header {
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

.text {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 25px 0;
}

.cta {
}

.signInBtn {
  padding: 12px 48px;
  margin-right: 48px;
}

.registerBtn {
  padding: 12px 48px;
}

.listWrapper {
  width: 50%;
}

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px 15px;
}

.browseMovies {
  margin: 2rem 0;
}

.byGenre {
  margin: 4rem 0;
}

.byGenreTitle {
  padding-bottom: 5px;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 25px;
  text-transform: uppercase;
  border-bottom: 2px solid var(--color-primary-dark);
}

.genreCards {
}

.genreList {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px 15px;
}

.genreItem {
  cursor: pointer;
  padding: 2rem 4rem;
  width: 250px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 4px var(--color-secondary-dark);
  transition: all 0.1s ease;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.genreItem:hover {
  transform: scale(0.98);
}
